.slot-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.slot-base {
    height: 40px;
    width: 22%;
    margin: 5px;
    padding-top: 15px;
    border-radius: 15px;
    font-size: large;
}

.dead-slot {
    composes: slot-base;
    background-color: white;
}

.alive-slot {
    composes: slot-base;
    background-color: black;
}